:root {
  --mainBlue: #2a2a2a;
  --lightBlue: #009ffd;
  --white: #ffffff;
  --black: #000000;
  --mainYellow: #ffa400;
}

.App {
  font-family: 'Courier New', Courier, monospace;
  background: var(--white) !important;
  color: var(--black) !important;
}
.text-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue {
  color: var(--lightBlue) !important;
}
.custom-logo {
  height: 50px;
}